.toolbar{
    width: 100%;
    position: fixed;
    background: green;
    top: 0;
    left: 0;
    height: 56px;
}
.toolbar-navi{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}
.logo{
    margin-left: 1rem;
}
.logo a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
}
.navi-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navi-items li{
    padding: 0 0.5rem;
}
.navi-items a{
    color: #fff;
    text-decoration: none;
}
.navi-items a:hover, .navi-items a:active{
    color: #fa923f;
}
.spacer{
    flex: 1;
}

@media (max-width: 768px){
    .navi-items{
        display: none;
    }
}
@media (min-width: 769px){
    .navi-button{
        display: none;
    }
    .logo{
        margin-left: 0;
    }
}