.slider{
    height: 100%;
    background: white;
    box-shadow: 2px 0 5px rgba(0, 0 , 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 20;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
}
.slider.open{
    transform: translateX(0)
}

.slider ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.slider li{
    margin: 0.5rem 0;
}
.slider a{
    color: blue;
    text-decoration: none;
    font-size: 1.5rem;
}
.slider a:hover, .slider a:active {
    color: #fa923f;
}
.button{
    position: relative;
}
.btn-default{
    position: fixed;
    right: -40px;
    top: 10px;
}
.btn-default.close{
    display: none;
}

@media (min-width: 769px){
    .slider{
        display: none;
    }
}